header{
    width: 85%;
    margin: auto;
    height: 70px ;
    border: solid 1px rgb(255, 255, 255); ;
    background-color: rgba(222, 219, 219, 0.696);
    display: flex ;
    justify-content: space-between;
    
}
.navication{
    display: flex ;
    list-style: none ;  
}

.navication a{
    text-decoration: none;
}
.nav_list{
    margin-right: 20px;
    padding-top: 5px;
    text-decoration:none;
}
.logo{
    
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}
.flex{
     align-items: center;
    justify-content: center;
    display: flex; 
}
.logo_name{
    padding-left: 5px;
    font-size: 30px;
    font-weight: bold;
    color:#6ba8ff;  
}
/*nav ends  here*/
.contain{
    width: 85%;
    margin: auto;
    height: 1800px ;
    border: solid 1px rgb(255, 255, 255); ;
    background-color: rgba(222, 219, 219, 0.696);
    display: flex ; 
}
.main{
    text-align: center;
    height: 10PX;
    color: #6ba8ff;
    border: solid 1px rgb(255, 255, 255);
}

/* text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
margin-right: 30px; */

.product_img{
    padding-left: 44px;
}
.product_text{
    text-align: center;
}
.btn_right{ 
    height: 29px;
    width: 76px;
    border: solid 1px;
    background-color: #6ba8ff;
    font-size: 15px;
    
    top: 300px;
    left: 128px;
}


.btn_left{
    height: 29px;
    width: 76px;
    border: solid 1px;
    background-color: #6ba8ff;
    font-size: 15px;
    
    top: 300px;
    left: 18px;
    float: left;
}
.products{
    height: 321px;
    width: 215px;
    border: solid 1px;
    float: left;
    margin-top: 110px;
    
    
}
    /* .pro0{
        position: absolute;
        top: 178px;
        left: 166px;
        padding: 10px;
    }  */
/* .products_1{
    height: 321px;
    width: 215px;
    border: solid 1px;
    float: left;
    
} */
/* .pro1{
    position: absolute;
    top: 178px;
    left: 452px;
    padding: 10px;
}
.pro2{
    position: absolute;
    top: 178px;
    left: 733px;
    padding: 10px; 
}*/         
 /* .product{
    width: 300px;
    float: left;
    margin: 5px;
    border: solid 1px rgb(255, 128, 0);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(236, 186, 121);
} */ 
/* h1{
    margin: auto;
    text-align: center;
   
} */