header{
    width: 85%;
    margin: auto;
    height: 70px ;
    border: solid 1px rgb(255, 255, 255); ;
    background-color: rgba(222, 219, 219, 0.696);
    display: flex ;
    justify-content: space-between;
    
}
.navication{
    display: flex ;
    list-style: none ;  
}

.navication a{
    text-decoration: none;
}
.nav_list{
    margin-right: 20px;
    padding-top: 5px;
    text-decoration:none;
}
.logo{
    
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}
.flex{
     align-items: center;
    justify-content: center;
    display: flex; 
}
.logo_name{
    padding-left: 5px;
    font-size: 30px;
    font-weight: bold;
    color:#6ba8ff;  
}
/*nav ends  here*/
.contain{
    width: 85%;
    margin: auto;
    height: 1800px ;
    border: solid 1px rgb(255, 255, 255); ;
    background-color: rgba(222, 219, 219, 0.696);
    display: flex ; 
}
.main{
    padding-left: 483px;
    font-size: 30px;
    color: #6ba8ff;
}
.products{
    height: 321px;
    width: 215px;
    border: solid 1px;
    float: left;
    position: absolute;
    top: 178px;
    left: 144px;
    padding: 10px;
}

.product_img{
    padding-left: 44px;
}
.product_text{
    text-align: center;
}
.btn_right{ 
    height: 29px;
    width: 76px;
    border: solid 1px;
    background-color: #6ba8ff;
    font-size: 15px;
    position: absolute;
    top: 300px;
    left: 128px;
}

.btn_left{
    height: 29px;
    width: 76px;
    border: solid 1px;
    background-color: #6ba8ff;
    font-size: 15px;
    position: absolute;
    top: 300px;
    left: 18px;
    float: left;
}
.products_1{
    height: 321px;
    width: 215px;
    border: solid 1px;
    float: left;
    
}
.pro1{
    position: absolute;
    top: 178px;
    left: 438px;
    padding: 10px;
}