header{
    width: 85%;
    margin: auto;
    height: 70px ;
    border: solid 1px rgb(255, 255, 255); ;
    background-color: rgba(222, 219, 219, 0.696);
}
.navication{
list-style: none ;

}
.nav_list{
    float: right;
    margin-right: 20px;
    padding-top: 5px;
    text-decoration:none;
}
.logo{
    float:left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}
.logo_name{
    padding-left: 5px;
    font-size: 30px;
    font-weight: bold;
}
.contant{
    height: 500px;
    margin:auto;
    width: 85%;
    border: solid 1px;
}

.main_border{
    float: left;
    margin: auto;
  margin-left: 70px;
}
.main_img{
    
    margin-left: 20px;
    margin-top: 20px;
    padding: 30px;
}
.heading_main{
    
    text-align: justify;
    position: relative;
    left: 117px;
    top: 40px;
}
.h_main{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}